.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-300);
  background-color: var(--color-neutral-0);
  border-radius: var(--radius-15);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: var(--spacing-400) var(--spacing-300);
  width: 100%;
}
