.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-300);
  background-color: var(--bg-secondary);
  border-radius: var(--radius-15);
  box-shadow: var(--boxshadow-primary);
  padding: var(--spacing-400) var(--spacing-300);
  width: 100%;
}
