.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--spacing-100) var(--spacing-150);
  background-color: var(--bg-secondary);
  border-radius: var(--radius-12);
  box-shadow: var(--boxshadow-primary);
}

.search-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-100);
  flex: 1;
}

.search-input-input {
  font-size: var(--font-size-13);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-140);
  letter-spacing: var(--letter-spacing-0);
  color: var(--text-secondary);
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  min-width: 0;
}

.search-input-input::placeholder {
  color: var(--color-neutral-500) !important;
  opacity: 1 !important;
}

.search-button {
  background-color: var(--color-blue-500);
  color: var(--color-neutral-0);
  padding: var(--spacing-150) var(--spacing-250);
  border-radius: var(--radius-10);

  &:hover {
    background-color: var(--color-blue-300);
  }

  &:active {
    background-color: var(--color-blue-500);
  }
}
