@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  /* --- Colors --- */
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 100%, 100%);
  --color-navy-50: hsl(221, 100%, 96%);
  --color-navy-200: hsl(241, 100%, 89%);
  --color-navy-950: hsl(224, 30%, 27%);
  --color-blue-800: hsl(234, 85%, 45%);
  --color-blue-50: hsl(234, 71%, 97%);
  --color-yellow-400: hsl(39, 100%, 56%);
  --color-yellow-50: hsl(38, 100%, 98%);
  --color-red-400: hsl(0, 100%, 67%);
  --color-red-50: hsl(0, 100%, 98%);
  --color-green-500: hsl(166, 100%, 37%);
  --color-green-50: hsl(162, 63%, 97%);

  /* --- Gradients --- */
  --gradient-one: linear-gradient(
    to bottom,
    hsla(256, 71%, 46%, 1) 0%,
    hsla(241, 72%, 46%, 0) 100%
  );

  --gradient-two: linear-gradient(
    180deg,
    hsl(252, 100%, 67%) 0%,
    hsl(241, 81%, 54%) 100%
  );

  /* --- Typography --- */
  --font-family: "Hanken Grotesk", sans-serif;

  /* Font Weights */
  --slp-font-weight-regular: 400;
  --slp-font-weight-medium: 500;
  --slp-font-weight-bold: 700;
  --slp-font-weight-extrabold: 800;

  /* Line Heights */
  --slp-line-height-tight: 100%;
  --slp-line-height-default: 130%;

  /* Font Sizes */
  --slp-text-size-32: 32px;
  --slp-text-size-24: 24px;
  --slp-text-size-20: 20px;
  --slp-text-size-16: 16px;
  --slp-text-size-14: 14px;

  /* Text Preset 1: 32px / 100% / ExtraBold */
  --text-preset-1-size: var(--slp-text-size-32);
  --text-preset-1-line-height: var(--slp-line-height-tight);
  --text-preset-1-weight: var(--slp-font-weight-extrabold);

  /* Text Preset 2: 24px / 130% / ExtraBold */
  --text-preset-2-size: var(--slp-text-size-24);
  --text-preset-2-line-height: var(--slp-line-height-default);
  --text-preset-2-weight: var(--slp-font-weight-extrabold);

  /* Text Preset 3: 20px / 130% / Bold */
  --text-preset-3-size: var(--slp-text-size-20);
  --text-preset-3-line-height: var(--slp-line-height-default);
  --text-preset-3-weight: var(--slp-font-weight-bold);

  /* Text Preset 4: 24px / 130% / ExtraBold */
  --text-preset-4-size: var(--slp-text-size-24);
  --text-preset-4-line-height: var(--slp-line-height-default);
  --text-preset-4-weight: var(--slp-font-weight-extrabold);

  /* Text Preset 5: 16px / 130% / Bold */
  --text-preset-5-size: var(--slp-text-size-16);
  --text-preset-5-line-height: var(--slp-line-height-default);
  --text-preset-5-weight: var(--slp-font-weight-bold);

  /* Text Preset 6: 14px / 130% / Medium */
  --text-preset-6-size: var(--slp-text-size-14);
  --text-preset-6-line-height: var(--slp-line-height-default);
  --text-preset-6-weight: var(--slp-font-weight-medium);

  /* Text Preset 7: 14px / 130% / Bold */
  --text-preset-7-size: var(--slp-text-size-14);
  --text-preset-7-line-height: var(--slp-line-height-default);
  --text-preset-7-weight: var(--slp-font-weight-bold);

  /* --- Spacing & Shapes --- */
  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-1000: 80px;
  --radius-1: 32px;

  font-family: var(--font-family);
  background-color: var(--color-white);
}

.results-container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-white);
}

.results-wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.results-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  width: 100%;
  align-items: center;
}

@media (min-width: 600px) {
  .results-container {
    background-color: var(--color-blue-50);
  }

  .results-wrapper {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
  }

  .results-card {
    display: flex;
    flex-direction: row;
    background-color: var(--color-white);
    border-radius: var(--radius-1);
    width: auto;
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
  }
}
