.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);
  width: 100%;
}

.profile-bio {
  color: var(--color-neutral-500);
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
  width: 100%;
  display: inline-block;
}

.stats-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--spacing-200);
  padding: var(--spacing-200) var(--spacing-250);
  border-radius: var(--radius-10);
  background-color: var(--color-neutral-100);
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-50);
}

.label {
  color: var(--color-neutral-500);
  font-size: var(--font-size-13);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}

.count {
  color: var(--color-neutral-700);
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-140);
}

.links-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-200);
}

.link-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-200);
}

.icon {
  color: var(--color-neutral-900) !important;
}

.link-value {
  color: var(--color-neutral-500);
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}
