#root {
  --bg-color: #fff9f5;
  --card-bg: #ffffff;
  --text-primary: #4a4a4a;
  --text-secondary: #717171;
  --accent-bg: #fff0f0;
  --accent-color: #ff6b6b;

  background-color: var(--bg-color);
  color: black;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Outfit", "Segoe UI", sans-serif;
  padding: 2rem;
}

h1 {
  display: flex;
  justify-content: center;
}
