.score-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: var(--gradient-two);
  height: 356px;
  width: 100%;
  border-radius: 0 0px 32px 32px;
  color: var(--color-white);
}

.score-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);
}

.score-card__title {
  color: var(--color-navy-200);
  font-size: 18px;
  line-height: var(--text-preset-2-line-height);
  font-weight: 700;
}

.score-card__circle {
  background-image: var(--gradient-one);
  border-radius: 100%;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-card__value {
  font-size: 56px;
  line-height: var(--text-preset-2-line-height);
  font-weight: 600;
  font-family: var(--font-family);
}

.score-card__total {
  font-size: 16px;
  line-height: var(--slp-line-height-default);
  font-weight: 400;
  opacity: 0.51;
}

.score-card__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
}

.score-card__rating {
  font-size: 24px;
  line-height: var(--text-preset-2-line-height);
  font-weight: 700;
  color: var(--color-white);
}

.score-card__text {
  max-width: 260px;
  font-size: 16px;
  line-height: var(--text-preset-2-line-height);
  font-weight: 400;
  color: var(--color-navy-200);
}

@media (min-width: 600px) {
  .score-card {
    width: 338px;
    height: 512px;
    border-radius: 32px;
  }

  .score-card__content {
    gap: var(--spacing-400);
    width: 200px;
  }

  .score-card__title {
    font-size: 24px;
  }

  .score-card__circle {
    width: 200px;
    height: 200px;
  }

  .score-card__total {
    font-size: 18px;
  }

  .score-card__value {
    font-size: 72px;
    line-height: var(--slp-line-height-tight);
    font-weight: 700;
  }

  .score-card__rating {
    font-size: 32px;
  }

  .score-card__text {
    font-size: 18px;
    text-align: center;
    width: 260px;
  }
}
