.number-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  color: var(--color-slate-700);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--color-slate-500);
  height: 48px;
  border-radius: 4px;
  padding: 0;
  overflow: hidden;
}

.input-container:focus-within > .input-unit {
  background-color: var(--color-lime);
  color: var(--color-slate-900);
}

.input-unit {
  background-color: var(--color-slate-100);
  color: var(--color-slate-700);
  padding: 12px 16px;
  height: 100%;
  font-weight: var(--font-weight-bold);
}

.number-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 12px 16px;
}

.input-error {
  background-color: var(--color-red);
  color: var(--color-white);
}

.number-field-error {
  color: var(--color-red);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}
