.results {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 24px;
  background-color: var(--color-slate-900);
  color: var(--color-white);
}

.title-bar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.no-results {
  align-items: center;
  text-align: center;
}

.title {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-125);
  letter-spacing: var(--letter-spacing-0);
  color: var(--color-white);
}

.description {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
  color: var(--color-slate-300);
}

.results-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgb(0, 0, 0, 0.25);
  border-top: 4px solid var(--color-lime);
  border-radius: 8px;
  padding: 24px 16px;
}

.results-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.results-label {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
  color: var(--color-slate-300);
}

.monthly-amount {
  font-size: var(--font-size-40);
  font-weight: var(--font-weight-bold);
  line-height: auto;
  letter-spacing: var(--letter-spacing-0);
  color: var(--color-lime);
}

.separator {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-slate-300);
  border: none;
}

.total-amount {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-125);
  letter-spacing: var(--letter-spacing-0);
  color: var(--color-white);
}
