.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-250);
}

.username {
  color: var(--text-primary);
  font-size: var(--font-size-26);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-120);
}

.handle {
  color: var(--text-accent);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-150);
}

.joined-date {
  color: var(--text-secondary);
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-150);
}

.profile-image {
  height: 70px;
  width: 70px;
  border-radius: var(--radius-full);
}
