@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;0,700;1,500;1,700&display=swap");

:root {
  /* --- Colors --- */
  /* Lime */
  --color-lime: #dbd82f;

  /* Slate */
  --color-slate-900: #133041;
  --color-slate-700: #4e6e7e;
  --color-slate-500: #6894a8;
  --color-slate-300: #a8bbd5;
  --color-slate-100: #9abed5;

  /* White */
  --color-white: #ffffff;

  /* Red */
  --color-red: #d73328;

  /* --- Spacing --- */
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;

  /* --- Typography Core --- */
  --font-family-primary: "Plus Jakarta Sans", sans-serif;

  /* --- Font Weights --- */
  --font-weight-bold: bold;
  --font-weight-medium: 500;

  /* --- Font Sizes --- */
  --font-size-56: 56px;
  --font-size-40: 40px;
  --font-size-24: 24px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;

  /* --- Line Heights --- */
  --line-height-125: 1.25;
  --line-height-150: 1.5;

  /* --- Letter Spacing --- */
  --letter-spacing-neg-1: -1px;
  --letter-spacing-0: 0px;

  font-family: var(--font-family-primary);
}

.mortgage-calculator {
  background-color: var(--color-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
